@import "~bootstrap/dist/css/bootstrap.min.css";
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
body {
  margin-top: 250px;
}
p {
  text-align: center;
  padding-top: 250px;
  padding-left: 10px;
  position: absolute;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
